*{
    padding: 0;
    margin:0 ;
    

}
  body{
background-color: black; /* mudar a cor do fundo*/


  }  



li a{
    text-decoration: none; /*remove o sublinhado */
font-size: 30px; /*tamanho da fonte*/
color: rgb(255, 255, 255);
padding: 30px;
}
li{
    list-style:none; /*remover formartaçao da lista*/

}
#logo{
    height: 90px; /*altura*/
    width: 140px; /*largura*/
}
ul{
    display: flex; /*indica a propriedade*/
    flex-direction: row; /* indicar se vai ser colocada na vertical ou horizontal*/
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(5, 5, 5);
}
.caixa-img-logo{
height: 90px;
width: 90;
}
.bi{
    font-size: 35px;
    color: rgb(36, 36, 43);
}
.banner{
background-image: url("./assets/banner.png");
background-repeat: no-repeat;
background-size: cover;
height: 400px;
width: 700px;
border-radius: 18px;/*borda foto*/
display: flex; /*propriedade flex box*/
align-items: center;
}
.texto-banner{
    font-size: 30px;/*fonte do texto*/
 color: #fff;
}
button{
width: 185px;
height: 45px;
border-radius: 50px;
background-color: #333;
color: #fff;
font-weight: bold;
border: none;/*remover borda*/
font-size: 15px;
margin: 10px;/*distancia em todas direçoes*/
}
.caixa-texto-banner{
width: 250px;
padding: 35px;/*espaçamento interno*/

}
.section-center{
display: flex;
justify-content: center;
}